.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
}
.item {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 52px;
  padding: 10px;
  font-size: 1.5rem;
}

.checkbox {
  width: 52px;
  height: 52px;
  padding: 10px;
  margin: 0;
}
